

html,
body {
  background: black!important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


nav {
  background: black!important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
;
}

.MuiListItemText-primary {
  font-size: x-large;
}

.MuiDrawer-paper{
 
  background: black!important;
}

.ju367v9i  {
 
  background: rgba(30, 29, 29, 0.901)!important;
}

